# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Eclipse
.settings/
.project
.classpath
.factorypath

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
**/ephemeral/
**/generated_plugin_registrant.dart

# iOS/Flutter
**/ios/Flutter/.last_build_id
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/ephemeral/

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
/android/gradle/
/android/local.properties

# Unity
/[Ee]xport/
/[Ee]xport_Presets/
/[Ll]ibrary/
/[Ll]ogs/
/[Oo]bj/
/[Pp]rojectSettings/
/[Tt]emp/
/[Uu]serSettings/
/[Bb]uilds/
/[Aa]ssets/AssetStoreTools*

# CocoaPods
/ios/Pods/
/macos/Pods/
**/Pods/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio
android/.gradle
/android/.gradle
.gradle/

# Coverage
coverage/

# Local configuration file (sdk path, etc)
local.properties
.metadata

# Xcode
*.xcuserstate
project.xcworkspace/
xcuserdata/

# Generated Plugin Registrants
**/GeneratedPluginRegistrant.h
**/GeneratedPluginRegistrant.m
**/GeneratedPluginRegistrant.swift
**/GeneratedPluginRegistrant.java
**/generated_plugin_registrant.dart
**/generated_plugin_registrant.cc

# FVM
.fvm/flutter_sdk
.fvm/versions