name: liftly
description: "Gym workout tracker that logs workouts exactly as performed."
publish_to: "none"

version: 1.6.5
environment:
  sdk: ^3.5.0

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  flutter_bloc: ^9.1.1
  bloc: ^9.1.0
  equatable: ^2.0.5
  intl: ^0.20.2
  path: ^1.9.0
  fl_chart: ^1.1.1
  screenshot: ^3.0.0
  share_plus: ^12.0.1
  shimmer: ^3.0.0
  excel: ^4.0.6
  file_picker: ^10.3.8
  path_provider: ^2.1.5
  google_sign_in: ^6.2.1
  googleapis: ^15.0.0
  http: ^1.1.0
  web: ^1.0.0

  shared_preferences: ^2.5.4
  hive: ^2.2.3
  hive_flutter: ^1.1.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
  flutter_launcher_icons: ^0.14.4

  build_runner: ^2.4.13
  hive_generator: ^2.0.1

flutter_launcher_icons:
  android: true
  ios: true
  adaptive_icon_background: "#0B0F14"
  adaptive_icon_foreground: "assets/icons/app_icon.png"
  image_path: "assets/icons/app_icon.png"

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:
  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/to/resolution-aware-images

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/to/asset-from-package

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/to/font-from-package
