name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main # Jalankan workflow ini saat push ke branch main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: "stable"
          flutter-version: "3.27.0" # Sesuaikan dengan versi Flutter kamu

      - name: Enable Web
        run: flutter config --enable-web

      - name: Build Web
        run: flutter build web --release --base-href /liftly/ # GANTI 'liftly' jika nama repo kamu berbeda

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/web
          publish_branch: gh-pages
